html {
    scroll-behavior: smooth; 
}

body {
    margin: 0px;
    font-family: Graphik, Avenir Next, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 7em;
    background-color: black;
}

img {
    vertical-align: bottom;
}

#logo {
    width: 115px;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.nav-item {
    color: white;
    margin-right: 3em;
}

.nav-item a:hover {
    color: blue;
    transition: .3s;
    transform: translateZ(0);
}

.slick-prev {
    left: 25px !important;
}

.slick-next {
    right: 25px !important;
}

.slick-arrow {
    z-index: 1;
}

.slick-dots {
    cursor: pointer !important;
    bottom: -10px !important;
    position: relative !important;
}

.slick-dots li button {
    color: white !important;
    background: lightgray !important;
    border-radius: 50% !important;
}

.slick-dots li button:before
{
    font-size: .6rem !important;
    line-height: 23px !important;
}

.slick-dots li.slick-active button:before {
    color: blue !important;
}

.img1, .img2, .img3 {
    width: 100%;
}

.spacer {
    height: 50px;
    background-color: #161616;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
}

h2 {
    margin: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.content-contact {
    flex-direction: row;
}

#about, #work, #contact, #email, #form {
    background-image: url("../img/section_background.png");
    background-size: cover;
    color: white;
    border-radius: 15px;
}


#email, #form {
    flex: 1;
}

input[type=text], [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
}

#send {
    background-color: blue;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#send:hover {
    background-color: gray;
}

section, article, aside {
    padding: .5rem;
    margin: .5rem;
}

aside {
    background-color: rgba(22, 22, 22, 0.20);
    border-radius: 15px;
    flex: 25%;
}

#stats {
    display: flex;
    text-align: center;
}

#views, #plays, #shares {
    border-radius: 15px;
    margin: 10px;
    background-image: url("../img/section_background.png");
    color: white;
}

#views {
    flex: 1;
}

#plays {
    flex: 1;
}

#shares {
    flex: 1;
}

#stats-text {
    text-align: center;
}

.icon {
    font-size: 2rem;
    margin-right: 10px;
    text-decoration: none;
    color: white
}

.icon:hover {
    color: lightgray;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #161616;
}

.footer-text {
    color: white;
}

.top {
    transition: .3s;
    transform: translateZ(0);
    margin-right: 40px;
}

.top:hover {
    color: blue;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .top {
        margin-right: 0px;
    }
}